<%= simple_form_for(@match) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :match_winner %>
    <%= f.input :match_loser %>
    <%= f.input :num_games %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
